// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  font: $serif;
  position: absolute;
  top: 30px;
  right: 0px;
  padding: 10px;
  background-color: white;
  border: 1px solid $gray;
  z-index: 1;
  // font-size: 10px;
  white-space:nowrap;
  color: $dark-gray;
}

.dropdown-subtitle {
  font-size: 12px;
  font-weight: bold;
}

.gear-dropdown ul li a:hover {
  background-color: $light-gray;
  cursor: pointer;
}

.gear-dropdown ul li {
  margin: 5px;
}
