html, body, figure, figcaption, ul, li, h1 {
  text-align: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

figcaption {
  font-size: 60px;
}

body {
  display: block;
  text-align: center;
}

figure {
  display: block;
}

ul {
  margin: 0 auto;
  width: 300px;
  background-color: grey;
  list-style: none;
  box-sizing: border-box;
  display: block;
}

li {
  float: left;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 5px solid black;
  background-color: gray;
}

li:hover {
  background-color: yellow;
  cursor: pointer;
}

ul::after {
  content: "";
  display: block;
  clear: both;
}

.x, .o {
  background-color: white;
  font-size: 60px;
}

.x:after {
  content: 'x';
}


.o:after {
  content: 'o';
}
