<form action="<%= users_url  %>" method="post">
  <%= render 'shared/csrf'  %>
  <label>Email</label>
  <input type="text" name="user[email]" value="">
  <br>
  <label>Password</label>
  <input type="password" name="user[password]" value="">
  <br>
  <input type="submit" value="Create New User">
</form>
