<!-- <% if current_user.follows?(user) %>
  <%= button_to "Unfollow", user_follow_url(user), method: :delete %>
<% else %>
  <%= button_to "Follow", user_follow_url(user), method: :post %>
<% end %> -->

<button type="button" class="follow-toggle" data-user=
  '{
  "user_id": "<%=user.id %>",
  "initial_follow_state": "<%=current_user.follows?(user) ? "followed" : "unfollowed"%>"
  }'>
</button>
